Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

eslint:
  name: ESLint
  entry: bash -c 'cd client && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd client && npm run type-check'
  language: system
  pass_filenames: false

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: system

goimports:
  name: Go Imports
  entry: bash -c 'goimports -w "$@" || true'
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'
  language: system
  pass_filenames: false

Fix bookmarklet: better selectors, URL matching, and error messages
  client/src/components/ImportGame.tsx
Due: eslint, typescript-check

Fix import: create scripts dir, remove local game load UI
  client/src/components/ImportGame.tsx
  server/internal/replay/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix fetchLog to check for existing file before running Python
  server/internal/replay/manager.go
Due: gofmt, goimports, golangci-lint

Fix redirect to use full kezilu.com URL
  server/internal/api/replay.go
Due: gofmt, goimports, golangci-lint

Fix hardcoded WebSocket URL to use production endpoint
  client/src/components/Lobby.tsx
  client/src/services/WebSocketContext.tsx
Due: eslint, typescript-check

Fix WebSocket route to match Cloudflare forwarding /api/ws
  cloudflare-worker/tm-router/src/index.ts
  server/cmd/server/main.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add debug logging to BGA parser
  server/internal/notation/bga_parser.go
Due: gofmt, goimports, golangci-lint

Fix parsing of conversion actions
  server/internal/notation/bga_parser.go
Due: gofmt, goimports, golangci-lint

Fix parsing of Engineers bridge action
  server/internal/notation/bga_parser.go
Due: gofmt, goimports, golangci-lint

Fix town formation check for Engineers bridge action
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

Return JSON error in handleStart
  server/internal/api/replay.go
Due: gofmt, goimports, golangci-lint

Add debug logging for Engineers bridge parsing
  server/internal/notation/bga_parser.go
Due: gofmt, goimports, golangci-lint

Add debug logging for town formation
  server/internal/game/town.go
  server/logs.txt
Due: gofmt, goimports, golangci-lint

Fix Engineers bridge: move ACT-BR logic into correct switch case
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

Clean up debug logging statements
  server/internal/game/town.go
  server/internal/notation/bga_parser.go
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

Add end-game scoring calculation to CLI tool
  server/cmd/bga_test/main.go
Due: gofmt, goimports, golangci-lint

Fix Snellman leech row ordering and refresh S50 concise output
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  test_data/S50_concise_final.txt
Due: gofmt, goimports, golangci-lint

Add Snellman HTML import support and concise conversion CLI
  CONCISE_NOTATION_FORMAT.md
  client/src/components/ImportGame.tsx
  server/cmd/convert_to_concise/main.go
  server/internal/notation/snellman_parser.go
  server/internal/notation/snellman_parser_test.go
  server/internal/replay/manager.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add Foodle worker route and reduce-tech-debt skill bundle
  cloudflare-worker/tm-router/src/index.ts
  skills/reduce-tech-debt/SKILL.md
  skills/reduce-tech-debt/agents/openai.yaml
  skills/reduce-tech-debt/references/review-checklist.md
  skills/reduce-tech-debt/scripts/find_duplicate_blocks.py
  skills/reduce-tech-debt/scripts/find_unused_ts_exports.py
Due: eslint, typescript-check

Fix Engineers trading house base cost
  server/internal/game/factions/engineers.go
Due: gofmt, goimports, golangci-lint

Fix Snellman leech binding/compaction and regenerate concise logs
  AGENTS.md
  CONCISE_NOTATION_FORMAT.md
  server/.bazelversion
  server/cmd/convert_to_concise/BUILD.bazel
  server/internal/notation/BUILD.bazel
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  test_data/4pLeague_S1_D1L1_G2_concise.txt
  test_data/4pLeague_S1_D1L1_G3_has_fakirs_concise.txt
  test_data/4pLeague_S2_D1L1_G1_has_giants_concise.txt
  test_data/4pLeague_S3_D1L1_G2_concise.txt
  test_data/4pLeague_S3_D1L1_G4_concise.txt
  test_data/4pLeague_S50_D1L1_G1_concise.txt
  test_data/4pLeague_S66_D1L1_G6_concise.txt
Due: gofmt, goimports, golangci-lint

ah
  server/internal/game/actions.go
  server/internal/game/resources.go
Due: gofmt, goimports, golangci-lint

Archive generated concise logs and clean leftover workspace changes
  .gitignore
  test_data/concise_archive/4pLeague_S1_D1L1_G2_concise.txt
  test_data/concise_archive/4pLeague_S1_D1L1_G3_has_fakirs_concise.txt
  test_data/concise_archive/4pLeague_S2_D1L1_G1_has_giants_concise.txt
  test_data/concise_archive/4pLeague_S3_D1L1_G2_concise.txt
  test_data/concise_archive/4pLeague_S3_D1L1_G4_concise.txt
  test_data/concise_archive/4pLeague_S50_D1L1_G1_concise.txt
  test_data/concise_archive/4pLeague_S66_D1L1_G6_concise.txt
Due: none

Refactor game tech debt and clean SerializeState noise
  AGENTS.md
  server/internal/game/action_power_leech.go
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/factions/alchemists.go
  server/internal/game/factions/auren.go
  server/internal/game/factions/chaos_magicians.go
  server/internal/game/factions/cultists.go
  server/internal/game/factions/faction.go
  server/internal/game/factions/giants.go
  server/internal/game/factions/mermaids.go
  server/internal/game/factions/nomads.go
  server/internal/game/factions/swarmlings.go
  server/internal/game/factions/witches.go
  server/internal/game/manager.go
Due: gofmt, goimports, golangci-lint

Add concise/snellman replay imports and remove local replay path
  PLAN.md
  client/src/components/ImportGame.css
  client/src/components/ImportGame.tsx
  server/deps.bzl
  server/internal/api/replay.go
  server/internal/notation/BUILD.bazel
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/manager.go
  server/internal/replay/manager_import_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Snellman setup extraction for scoring and removed bonus tiles
  server/internal/notation/snellman_parser.go
  server/internal/notation/snellman_parser_test.go
  server/internal/notation/snellman_to_concise.go
  server/internal/replay/manager_import_test.go
Due: gofmt, goimports, golangci-lint

Fix Snellman replay turn-order casing and setup tile parsing
  client/src/utils/gameUtils.ts
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/replay/manager_import_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Preserve ship/dig advances in Snellman compound actions
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
Due: gofmt, goimports, golangci-lint

feat(router): add /chess_db route to Railway chess web
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Enforce strict replay legality for conversion-only actions
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
Due: gofmt, goimports, golangci-lint

Allow conversion subactions inside compound replay tokens
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
Due: gofmt, goimports, golangci-lint

Preserve send-priest+convert compound actions from Snellman
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
Due: gofmt, goimports, golangci-lint

Normalize bare Snellman conversion units to explicit counts
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
Due: gofmt, goimports, golangci-lint

Make concise action parsing case-insensitive
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
Due: gofmt, goimports, golangci-lint

Fix cult bonus backtracking and pass compound parsing
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
Due: gofmt, goimports, golangci-lint

Fix leech VP cost to use actual power gained
  server/internal/game/resources.go
  server/internal/game/resources_test.go
  server/internal/game/state.go
Due: gofmt, goimports, golangci-lint

Tolerate stale decline leech when replay player is power-full
  server/internal/replay/BUILD.bazel
  server/internal/replay/simulator.go
  server/internal/replay/simulator_leech_tolerance_test.go
Due: gofmt, goimports, golangci-lint

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist
  typescript-check: any of: \.(ts|tsx)$, but not: node_modules|dist
  gofmt: any of: \.go$, but not: bazel-
  goimports: any of: \.go$, but not: bazel-
  golangci-lint: any of: \.go$, but not: bazel-
