Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

eslint:
  name: ESLint
  entry: bash -c 'cd client && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd client && npm run type-check'
  language: system
  pass_filenames: false

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: system

goimports:
  name: Go Imports
  entry: bash -c 'goimports -w "$@" || true'
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'
  language: system
  pass_filenames: false

Document Railway client base path
  NOTES.md
  client/vite.config.ts
Due: eslint, typescript-check

Restore tm subpath client routing
  NOTES.md
  client/package.json
  client/serve.json
Due: none

Honor confirm turn preference
  NOTES.md
  server/internal/game/manager.go
  server/internal/game/manager_post_action_free_window_test.go
  server/internal/game/turn_confirmation_test.go
Due: gofmt, goimports, golangci-lint

Update auction flow and add turn timers
  NOTES.md
  client/e2e/ui-auction-setup-click-driven.spec.ts
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/Lobby.tsx
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_auction.go
  server/internal/game/auction.go
  server/internal/game/auction_flow_test.go
  server/internal/game/auction_test.go
  server/internal/game/manager.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/turn_timer.go
  server/internal/game/turn_timer_test.go
  server/internal/lobby/lobby.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Document discarded replay experiment
  NOTES.md
Due: none

Improve TM lobby join and leave flow
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/App.css
  client/src/App.tsx
  client/src/components/Lobby.css
  client/src/components/Lobby.tsx
  client/src/index.css
  server/internal/lobby/BUILD.bazel
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix lobby start navigation race
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

Fix Railway client build failure
  AGENTS.md
  NOTES.md
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

Fix round handoff and clarify required actor
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/components/Game.tsx
  server/internal/game/cleanup.go
  server/internal/game/cleanup_test.go
  server/internal/game/state.go
  server/internal/game/turn_timer_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Update worker landing page
  NOTES.md
  cloudflare-worker/tm-router/public/index.html
  cloudflare-worker/tm-router/public/kevin-lu-resume-feb-2026.pdf
  cloudflare-worker/tm-router/src/index.ts
  cloudflare-worker/tm-router/test/index.spec.ts
  cloudflare-worker/tm-router/wrangler.jsonc
Due: eslint, typescript-check

Refine worker landing page links
  NOTES.md
  cloudflare-worker/tm-router/src/index.ts
  cloudflare-worker/tm-router/test/index.spec.ts
Due: eslint, typescript-check

Add selectable map registry and custom map notes
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGrid.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/Lobby.tsx
  client/src/data/baseGameMap.ts
  client/src/data/mapCatalog.ts
  client/src/types/game.types.ts
  client/src/types/map.types.ts
  client/src/utils/hexUtils.ts
  server/internal/game/board/BUILD.bazel
  server/internal/game/board/map.go
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
  server/internal/game/board/terrain.go
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
  server/internal/game/state.go
  server/internal/lobby/BUILD.bazel
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Restore white background for game and replay screens
  NOTES.md
  client/src/App.tsx
  client/src/components/Game.tsx
Due: eslint, typescript-check

Hide invalid ship and dig upgrade buttons
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/shared/ShippingDiggingDisplay.tsx
Due: eslint, typescript-check

Add lakes map and standalone revised base
  NOTES.md
  client/src/data/mapCatalog.ts
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add Fjords map notes and coverage
  NOTES.md
  server/internal/game/board/maps_test.go
Due: gofmt, goimports, golangci-lint

Fix lakes map axial row offsets
  NOTES.md
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
Due: gofmt, goimports, golangci-lint

Update TM landing page link
  NOTES.md
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Fix lakes map display coordinates
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/types/game.types.ts
  client/src/types/map.types.ts
  client/src/utils/hexUtils.ts
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

ah
  server/internal/game/board/maps.go
Due: gofmt, goimports, golangci-lint

Fix client formatter scope
  NOTES.md
  client/eslint.config.js
  client/src/components/GameBoard/PlayerSummaryBar.tsx
Due: eslint, typescript-check

Route poker solver through kezilu.com worker
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Add Fire & Ice map support
  NOTES.md
  client/src/data/mapCatalog.ts
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
  server/internal/replay/snapshot_generator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add custom map editor and import support
  client/src/components/CustomMapEditor.css
  client/src/components/CustomMapEditor.tsx
  client/src/components/Lobby.css
  client/src/components/Lobby.tsx
  client/src/types/map.types.ts
  client/src/utils/customMapUtils.ts
  server/internal/game/board/map.go
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
  server/internal/game/state.go
  server/internal/lobby/BUILD.bazel
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Restore worker landing page styling
  NOTES.md
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Add custom map export and one-click start actions
  NOTES.md
  client/src/components/CustomMapEditor.css
  client/src/components/CustomMapEditor.tsx
  client/src/components/Lobby.tsx
  client/src/utils/customMapUtils.ts
Due: eslint, typescript-check

Add lobby map previews and spectate started games
  NOTES.md
  client/src/components/CustomMapEditor.tsx
  client/src/components/Game.tsx
  client/src/components/Lobby.css
  client/src/components/Lobby.tsx
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Move homepage out of tm_server
  cloudflare-worker/tm-router/src/index.ts
  cloudflare-worker/tm-router/test/index.spec.ts
Due: eslint, typescript-check

Fix lobby create button handler typing
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

update f+I
  server/internal/game/board/maps.go
Due: gofmt, goimports, golangci-lint

Fix hex grid canvas resolution
  NOTES.md
  client/e2e/support/uiInteractions.ts
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/Lobby.tsx
  server/BUILD.bazel
  server/tools/client_build_test.sh
  server/tools/client_playwright_test.sh
Due: eslint, typescript-check

Implement blue fan factions
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  server/internal/game/BUILD.bazel
  server/internal/game/action_discard_pending_spade.go
  server/internal/game/action_engineers_bridge.go
  server/internal/game/action_select_town_tile.go
  server/internal/game/action_setup_dwelling.go
  server/internal/game/action_wisps_stronghold_dwelling.go
  server/internal/game/actions.go
  server/internal/game/fan_faction_blue_test.go
  server/internal/game/manager.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/town.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Implement black fan factions
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/data/factionBoards.ts
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_conversion.go
  server/internal/game/action_goblins_cult_track.go
  server/internal/game/action_goblins_treasure.go
  server/internal/game/action_halflings_spades.go
  server/internal/game/action_power_leech.go
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/fan_faction_black_test.go
  server/internal/game/manager.go
  server/internal/game/power.go
  server/internal/game/power_actions.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/town.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Implement brown fan factions
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/actions.go
  server/internal/game/cleanup.go
  server/internal/game/fan_faction_brown_test.go
  server/internal/game/manager.go
  server/internal/game/power_actions.go
  server/internal/game/scoring_tiles.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/turn_confirmation.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Implement yellow fan factions
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/Replay.tsx
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_select_archivists_bonus_card.go
  server/internal/game/action_select_djinni_starting_cult.go
  server/internal/game/actions.go
  server/internal/game/bonus_cards.go
  server/internal/game/cleanup.go
  server/internal/game/fan_faction_yellow_test.go
  server/internal/game/income.go
  server/internal/game/manager.go
  server/internal/game/scoring_tiles.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/turn_timer.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Implement remaining fan factions and town anchors
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_conversion.go
  server/internal/game/action_cult_spade.go
  server/internal/game/action_discard_pending_spade.go
  server/internal/game/action_engineers_bridge.go
  server/internal/game/action_select_town_tile.go
  server/internal/game/action_select_treasurers_deposit.go
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/cleanup.go
  server/internal/game/fan_faction_blue_test.go
  server/internal/game/fan_faction_red_test.go
  server/internal/game/income.go
  server/internal/game/manager.go
  server/internal/game/power_actions.go
  server/internal/game/power_actions_test.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/town.go
  server/internal/game/town_test.go
  server/internal/game/turn_timer.go
  server/internal/notation/types.go
  server/internal/replay/action_converter.go
  server/internal/replay/compound_action.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Finalize fan faction rules and UI
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/shared/ShippingDiggingDisplay.tsx
  server/internal/game/factions/fan_factions.go
  server/internal/game/factions/fan_factions_test.go
  server/internal/game/fan_faction_black_test.go
  server/internal/game/fan_faction_blue_test.go
  server/internal/game/fan_faction_grey_test.go
  server/internal/game/fan_faction_red_test.go
  server/internal/game/income_preview.go
  server/internal/game/manager.go
  server/internal/game/scoring_tiles.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Keep game decision strip sticky at top
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/components/Game.tsx
Due: eslint, typescript-check

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist
  typescript-check: any of: \.(ts|tsx)$, but not: node_modules|dist
  gofmt: any of: \.go$, but not: bazel-
  goimports: any of: \.go$, but not: bazel-
  golangci-lint: any of: \.go$, but not: bazel-
