Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

eslint:
  name: ESLint
  entry: bash -c 'cd client && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd client && npm run type-check'
  language: system
  pass_filenames: false

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: system

goimports:
  name: Go Imports
  entry: bash -c 'goimports -w "$@" || true'
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'
  language: system
  pass_filenames: false

Fix human lobby create payload
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

Fix replay and parser structural debt
  NOTES.md
  client/src/components/Game.tsx
  client/src/utils/pendingDecision.ts
  server/internal/notation/bga_parser.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/simulator.go
  server/internal/replay/simulator_leech_tolerance_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add dedicated AI game entry
  client/e2e/ui-model-game.spec.ts
  client/src/App.tsx
  client/src/components/AI/AIWorkbench.css
  client/src/components/AI/AIWorkbench.tsx
  client/src/components/AI/PlayAIPage.css
  client/src/components/AI/PlayAIPage.tsx
  client/src/components/AI/modelGame.ts
  client/src/components/Lobby.css
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

Stop tracking workspace notes
  NOTES.md
Due: none

Remove table-model AZ footgun
  docs/terra-mystica-1v1-alphazero-plan.md
  docs/terra-mystica-ai-r1-build-rates.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_eval/main.go
  server/cmd/az_loop/BUILD.bazel
  server/cmd/az_loop/main.go
  server/cmd/az_selfplay/main.go
  server/cmd/az_train/BUILD.bazel
  server/cmd/az_train/main.go
  server/internal/api/ai.go
  server/internal/api/ai_test.go
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/az/arena/BUILD.bazel
  server/internal/az/arena/arena.go
  server/internal/az/model/BUILD.bazel
  server/internal/az/model/loader.go
  server/internal/az/model/table.go
  server/internal/az/selfplay/BUILD.bazel
  server/internal/az/selfplay/selfplay.go
  server/internal/az/stats/BUILD.bazel
  server/internal/az/stats/r1_build.go
  server/internal/az/stats/r1_build_test.go
  server/internal/az/train/BUILD.bazel
  server/internal/az/train/train.go
  server/internal/az/train/train_test.go
  server/internal/game/replay_cost_funding.go
  server/internal/game/replay_cost_funding_test.go
  server/internal/websocket/bot.go
Due: gofmt, goimports, golangci-lint

Require observable neural model serving
  docs/model-opponent-railway-notes.md
  docs/terra-mystica-neural-production-runbook.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/server/BUILD.bazel
  server/cmd/server/main.go
  server/internal/api/ai.go
  server/internal/api/ai_test.go
  server/internal/az/model/http.go
  server/internal/az/model/http_test.go
  server/internal/websocket/bot.go
Due: gofmt, goimports, golangci-lint

Deploy durable neural AI serving
  .gitignore
  client/vite.config.ts
  docs/model-opponent-railway-notes.md
  docs/terra-mystica-neural-production-runbook.md
  server/modal/README.md
  server/modal/az_inference.py
Due: eslint, typescript-check

Connect model games to configured backend
  client/src/services/WebSocketContext.tsx
Due: eslint, typescript-check

Wait for human confirmation before model turn
  server/internal/websocket/bot.go
  server/internal/websocket/bot_test.go
Due: gofmt, goimports, golangci-lint

Harden neural Play vs AI games
  client/e2e/support/wsBot.ts
  client/e2e/ui-full-game-click-driven.spec.ts
  client/e2e/ui-model-game.spec.ts
  client/src/components/AI/PlayAIPage.tsx
  client/src/components/Game.tsx
  client/src/components/Lobby.tsx
  client/src/services/WebSocketContext.tsx
  client/src/stores/gameStore.ts
  server/internal/api/ai.go
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/az/mcts/mcts.go
  server/internal/game/manager.go
  server/internal/game/replay_cost_funding.go
  server/internal/game/replay_cost_funding_test.go
  server/internal/game/state.go
  server/internal/game/turn_confirmation_test.go
  server/internal/websocket/bot.go
  server/internal/websocket/bot_test.go
  server/tools/client_playwright_test.sh
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix AI leech confirmation ordering
  client/e2e/pending-decision-status.spec.ts
  client/src/components/Game.tsx
  client/src/utils/pendingDecision.ts
Due: eslint, typescript-check

Promote neural self-play iteration
  docs/terra-mystica-ai-r1-build-rates.md
  server/cmd/az_checkpoint_vocab/BUILD.bazel
  server/cmd/az_checkpoint_vocab/az_checkpoint_vocab.py
  server/cmd/az_export/main.go
  server/internal/az/arena/arena.go
  server/internal/az/dataset/dataset.go
  server/internal/az/dataset/dataset_test.go
  server/internal/az/selfplay/selfplay.go
  server/internal/az/stats/r1_build.go
  server/internal/az/stats/r1_build_test.go
  server/modal/az_inference.py
Due: gofmt, goimports, golangci-lint

Track AlphaZero final scores
  server/internal/az/arena/arena.go
  server/internal/az/env/env.go
  server/internal/az/selfplay/selfplay.go
  server/internal/az/stats/BUILD.bazel
  server/internal/az/stats/final_score.go
  server/internal/az/stats/r1_build_test.go
Due: gofmt, goimports, golangci-lint

Automate successive AlphaZero cycles
  scripts/run_az_five_cycles.sh
Due: none

Record five AlphaZero iterations
  docs/terra-mystica-ai-five-cycle-results-20260712.md
  docs/terra-mystica-ai-r1-build-rates.md
  server/modal/az_inference.py
Due: none

Record direct AlphaZero model comparison
  docs/terra-mystica-ai-five-cycle-results-20260712.md
Due: none

Pair AlphaZero promotion arenas
  docs/terra-mystica-ai-five-cycle-results-20260712.md
  docs/terra-mystica-stronger-engine-scaling.md
  scripts/run_az_five_cycles.sh
  server/cmd/az_eval/main.go
  server/internal/az/env/env.go
  server/internal/az/env/env_test.go
Due: gofmt, goimports, golangci-lint

Track R1 building frequencies and anchor gates
  scripts/run_az_paired_anchor_cycles.sh
  server/internal/az/stats/r1_build.go
  server/internal/az/stats/r1_build_test.go
Due: gofmt, goimports, golangci-lint

Promote local replay proof model
  docs/terra-mystica-ai-local-replay-proof-20260713.md
  server/modal/az_inference.py
Due: none

Add bounded AlphaZero experiment controls
  docs/terra-mystica-1v1-alphazero-plan.md
  server/cmd/az_eval/main.go
  server/internal/az/arena.go
  server/internal/az/arena_test.go
  server/internal/az/python/learner.py
  server/internal/az/python/model_test.py
  server/tools/az_loop_smoke_test.sh
  server/tools/az_scaling_curves_smoke_test.sh
  server/tools/run_az_cycles.sh
  server/tools/run_az_scaling_curves.sh
Due: gofmt, goimports, golangci-lint

Preserve AlphaZero optimizer state
  docs/terra-mystica-1v1-alphazero-plan.md
  server/internal/az/python/learner.py
  server/internal/az/python/model.py
  server/internal/az/python/model_test.py
  server/tools/az_loop_smoke_test.sh
  server/tools/run_az_cycles.sh
Due: none

Benchmark the selected AlphaZero optimizer
  docs/terra-mystica-1v1-alphazero-plan.md
  server/internal/az/python/benchmark.py
  server/internal/az/python/model_test.py
Due: none

Expose AlphaZero replay window control
  docs/terra-mystica-1v1-alphazero-plan.md
  server/tools/az_loop_smoke_test.sh
  server/tools/run_az_cycles.sh
Due: none

Record clean AlphaZero scaling evidence
  docs/terra-mystica-1v1-alphazero-local-scaling-evidence.md
  docs/terra-mystica-1v1-alphazero-plan.md
Due: none

Record AlphaZero search scaling curve
  docs/terra-mystica-1v1-alphazero-local-scaling-evidence.md
  docs/terra-mystica-1v1-alphazero-plan.md
Due: none

Record AlphaZero learner screen
  docs/terra-mystica-1v1-alphazero-local-scaling-evidence.md
  docs/terra-mystica-1v1-alphazero-plan.md
Due: none

Separate AlphaZero search RNG provenance
  server/cmd/az_selfplay/main.go
  server/cmd/az_selfplay/main_test.go
  server/internal/az/arena_test.go
  server/internal/az/mcts_test.go
  server/internal/az/python/learner.py
  server/internal/az/python/model_test.py
  server/internal/az/selfplay.go
  server/internal/az/trajectory.go
  server/internal/az/trajectory_test.go
  server/tools/run_az_cycles.sh
Due: gofmt, goimports, golangci-lint

Batch concurrent AlphaZero inference
  docs/terra-mystica-1v1-alphazero-local-scaling-evidence.md
  docs/terra-mystica-1v1-alphazero-plan.md
  server/README.md
  server/WORKSPACE
  server/cmd/az_selfplay/main.go
  server/internal/az/BUILD.bazel
  server/internal/az/inference_batcher.go
  server/internal/az/inference_test.go
  server/internal/az/mcts.go
  server/internal/az/mcts_test.go
  server/internal/az/selfplay.go
  server/internal/game/manager.go
  server/internal/game/manager_state_action_test.go
  server/internal/websocket/golden_snellman_e2e_test.go
  server/tools/az_loop_smoke_test.sh
  server/tools/run_az_cycles.sh
Due: gofmt, goimports, golangci-lint

Repair policy context and search semantics with explicit arena baselines
  docs/terra-mystica-1v1-remediation-plan.md
  docs/terra-mystica-representation-audit.md
  docs/terra-mystica-rules-conformance.md
  docs/tm-rules-contract.md
  server/cmd/az_eval/main.go
  server/internal/az/BUILD.bazel
  server/internal/az/arena.go
  server/internal/az/arena_modes_test.go
  server/internal/az/arena_test.go
  server/internal/az/mcts.go
  server/internal/az/mcts_test.go
  server/internal/az/python/encoding_audit_test.py
  server/internal/az/python/model.py
  server/internal/az/python/model_test.py
  server/internal/az/python/schema.py
  server/tools/az_scaling_curves_smoke_test.sh
Due: gofmt, goimports, golangci-lint

test(client): add isolated production browser verification
  client/playwright.config.ts
  server/BUILD.bazel
  server/tools/client_dependencies.sh
  server/tools/client_playwright_test.sh
Due: eslint, typescript-check

fix(client): make Tailwind styling client-local
  client/package-lock.json
  client/package.json
  client/src/index.css
  client/tailwind.config.js
  client/vite.config.ts
  package-lock.json
  package.json
  postcss.config.js
  tailwind.config.js
Due: eslint, typescript-check

style(game): introduce a scoped theme and shared controls
  client/src/App.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/GameBoard/PowerActions.css
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/shared/GamePrimitives.tsx
  client/src/styles/game-theme.css
  client/src/utils/gameTheme.ts
  client/src/utils/powerActionCost.ts
Due: eslint, typescript-check

fix(game): give dialogs native focus and dismissal behavior
  client/src/components/EndGameScoring.tsx
  client/src/components/shared/Modal.css
  client/src/components/shared/Modal.tsx
Due: eslint, typescript-check

fix(game): keep player resources readable and favor actions clickable
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/shared/ShippingDiggingDisplay.tsx
Due: eslint, typescript-check

fix(game): submit atomic power spades through a typed draft
  client/src/components/Game.tsx
  client/src/components/PowerSpadeControls.tsx
  client/src/components/Replay.tsx
  client/src/components/ReplayControls.tsx
  client/src/hooks/usePowerSpadeDraft.ts
  client/src/services/actionService.ts
Due: eslint, typescript-check

style(game): unify board and tile states with keyboard access
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/GameBoard/FavorTiles.css
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/ScoringTiles.tsx
  client/src/components/GameBoard/TownTiles.css
  client/src/components/GameBoard/TownTiles.tsx
Due: eslint, typescript-check

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist
  typescript-check: any of: \.(ts|tsx)$, but not: node_modules|dist
  gofmt: any of: \.go$, but not: bazel-
  goimports: any of: \.go$, but not: bazel-
  golangci-lint: any of: \.go$, but not: bazel-
