Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Bazel files
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd client && npm run lint:fix'
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: 'node_modules|dist'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd client && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        exclude: 'node_modules|dist'
        pass_filenames: false

  # Go
  - repo: local
    hooks:
      - id: gofmt
        name: Go Format
        entry: gofmt
        args: ['-w']
        language: system
        files: \.go$
        exclude: 'bazel-'

      - id: goimports
        name: Go Imports
        entry: bash -c 'goimports -w "$@" || true'  # Don't fail if goimports not installed
        language: system
        files: \.go$
        exclude: 'bazel-'

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'  # Don't fail if not installed
        language: system
        files: \.go$
        exclude: 'bazel-'
        pass_filenames: false

Remove unused stronghold square component
  client/src/components/GameBoard/PlayerBoards.tsx
Due: eslint, typescript-check

Render river tokens and town tiles on board
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/types/game.types.ts
  client/src/types/map.types.ts
  server/internal/game/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix fan faction BGA replay gaps
  NOTES.md
  server/cmd/bga_test/BUILD.bazel
  server/cmd/bga_test/main.go
  server/cmd/bga_test/main_test.go
  server/deps.bzl
  server/internal/game/action_select_archivists_bonus_card.go
  server/internal/game/actions.go
  server/internal/game/factions/fan_factions.go
  server/internal/game/factions/fan_factions_test.go
  server/internal/game/fan_faction_yellow_test.go
  server/internal/game/income.go
  server/internal/game/resources.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/temple_income_test.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_special_action_test.go
  server/internal/notation/bga_parser_test.go
  server/internal/notation/duplicate_leech_test.go
  server/internal/notation/regex_definitions.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/simulator.go
  server/internal/replay/simulator_cleanup_timing_test.go
  server/internal/replay/simulator_initial_bonus_test.go
  server/internal/replay/testdata/bga_836564785_config.yaml
  server/internal/replay/validator.go
Due: gofmt, goimports, golangci-lint

Fix websocket action parser build wiring
  NOTES.md
  server/internal/websocket/client.go
Due: gofmt, goimports, golangci-lint

Expand fan faction BGA replay coverage
  NOTES.md
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/fan_faction_green_test.go
  server/internal/game/income.go
  server/internal/game/income_test.go
  server/internal/game/special_actions.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_special_action_test.go
  server/internal/notation/bga_parser_test.go
  server/internal/notation/coordinates.go
  server/internal/notation/coordinates_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/testdata/bga_837822159_config.yaml
  server/internal/replay/testdata/bga_838634311_config.yaml
Due: gofmt, goimports, golangci-lint

Fix fan-faction BGA replay regressions
  NOTES.md
  server/cmd/bga_test/main.go
  server/cmd/bga_test/main_test.go
  server/internal/game/cult.go
  server/internal/game/factions/fan_factions_test.go
  server/internal/game/fan_faction_grey_test.go
  server/internal/game/favor.go
  server/internal/game/special_actions.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_special_action_test.go
  server/internal/notation/bga_parser_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/simulator.go
  server/internal/replay/simulator_initial_bonus_test.go
  server/internal/replay/testdata/bga_838140312_config.yaml
Due: gofmt, goimports, golangci-lint

Update BGA replay log
  bga_log.txt
Due: none

Remove BGA replay log artifact
  bga_log.txt
Due: none

Block digging upgrades for Time Travelers
  NOTES.md
  server/internal/game/fan_faction_brown_test.go
  server/internal/game/state.go
Due: gofmt, goimports, golangci-lint

Add Fire and Ice final scoring option
  NOTES.md
  client/src/components/EndGameScoring.tsx
  client/src/components/Game.tsx
  client/src/components/GameBoard/ScoringTiles.css
  client/src/components/GameBoard/ScoringTiles.tsx
  client/src/components/Lobby.tsx
  client/src/components/Replay.tsx
  client/src/types/game.types.ts
  server/internal/game/final_scoring.go
  server/internal/game/final_scoring_test.go
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Railway server build
  NOTES.md
  server/internal/websocket/client.go
  server/nixpacks.toml
Due: gofmt, goimports, golangci-lint

Restore Railway go build command
  NOTES.md
  server/nixpacks.toml
Due: none

Add Fire and Ice replay coverage
  NOTES.md
  server/internal/game/action_power_leech.go
  server/internal/game/actions.go
  server/internal/game/cleanup_test.go
  server/internal/game/factions/fire_ice_factions.go
  server/internal/game/factions/fire_ice_factions_test.go
  server/internal/game/fire_ice_factions_test.go
  server/internal/game/fire_ice_rules.go
  server/internal/game/replay_cost_funding.go
  server/internal/game/replay_cost_funding_test.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_special_action_test.go
  server/internal/notation/bga_parser_test.go
  server/internal/notation/log_power_action_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/simulator.go
  server/internal/replay/simulator_cleanup_timing_test.go
  server/internal/replay/simulator_treasurers_test.go
  server/internal/replay/testdata/bga_312813929_config.yaml
  server/internal/replay/testdata/bga_819403314_config.yaml
  server/internal/replay/testdata/bga_835013792_config.yaml
Due: gofmt, goimports, golangci-lint

Document stronghold replay coverage gaps
  NOTES.md
Due: none

Add Dragonlords Fire & Ice BGA replay fixture
  NOTES.md
  server/internal/game/board/maps.go
  server/internal/game/board/maps_test.go
  server/internal/replay/testdata/bga_670716682_config.yaml
Due: gofmt, goimports, golangci-lint

Enforce fixed Riverwalkers shipping
  NOTES.md
  server/internal/game/fire_ice_factions_test.go
  server/internal/game/state.go
Due: gofmt, goimports, golangci-lint

Add Goblins stronghold BGA replay fixture
  NOTES.md
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_test.go
  server/internal/replay/testdata/bga_792377979_config.yaml
Due: gofmt, goimports, golangci-lint

Add Riverwalkers priest choice flow
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  server/internal/game/BUILD.bazel
  server/internal/game/action_conversion.go
  server/internal/game/action_cult_spade.go
  server/internal/game/action_discard_pending_spade.go
  server/internal/game/action_select_riverwalkers_priest.go
  server/internal/game/action_select_treasurers_deposit.go
  server/internal/game/actions.go
  server/internal/game/cleanup.go
  server/internal/game/fire_ice_factions_test.go
  server/internal/game/income.go
  server/internal/game/manager.go
  server/internal/game/power_actions.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/turn_timer.go
  server/internal/notation/types.go
  server/internal/replay/simulator.go
  server/internal/replay/validator.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add Fire and Ice frontend choice prompts
  NOTES.md
  client/src/components/Game.tsx
  server/internal/game/actions.go
  server/internal/game/cult.go
  server/internal/game/fire_ice_factions_test.go
  server/internal/game/fire_ice_rules.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Add Fire and Ice faction lobby toggle
  NOTES.md
  client/src/components/FactionSelector.tsx
  client/src/components/Game.tsx
  client/src/components/Lobby.css
  client/src/components/Lobby.tsx
  client/src/data/factions.ts
  client/src/types/game.types.ts
  server/internal/game/action_select_faction.go
  server/internal/game/action_select_faction_test.go
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
  server/internal/game/state.go
  server/internal/lobby/lobby.go
  server/internal/lobby/lobby_test.go
  server/internal/models/faction.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Remove duplicate lobby refresh button
  client/src/components/Lobby.tsx
Due: eslint, typescript-check

Add replay seed coverage summaries
  NOTES.md
  docs/terra-mystica-1v1-alphazero-plan.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_replay_seeds/main.go
  server/internal/az/env/env.go
Due: gofmt, goimports, golangci-lint

Add replay seed generation filters
  NOTES.md
  docs/terra-mystica-1v1-alphazero-plan.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_replay_seeds/main.go
Due: gofmt, goimports, golangci-lint

Scale self-play export and bootstrap training
  NOTES.md
  server/cmd/az_train_torch/az_train_torch.py
  server/internal/az/dataset/dataset.go
  server/internal/az/mcts/mcts.go
  server/internal/az/mcts/mcts_test.go
Due: gofmt, goimports, golangci-lint

Improve full-game self-play scaling
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_loop/main.go
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/az/env/env.go
  server/internal/az/selfplay/selfplay.go
Due: gofmt, goimports, golangci-lint

Scale full-game self-play workflow
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_buffer/BUILD.bazel
  server/cmd/az_buffer/main.go
  server/cmd/az_eval/main.go
  server/cmd/az_selfplay/main.go
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/az/arena/arena.go
  server/internal/az/buffer/BUILD.bazel
  server/internal/az/buffer/buffer.go
  server/internal/az/buffer/buffer_test.go
  server/internal/az/env/env.go
  server/internal/az/env/env_test.go
  server/internal/az/selfplay/selfplay.go
  server/internal/game/replay_cost_funding.go
Due: gofmt, goimports, golangci-lint

Remove pass-suppression curriculum
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_eval/main.go
  server/cmd/az_selfplay/main.go
  server/internal/az/arena/arena.go
  server/internal/az/env/env.go
  server/internal/az/env/env_test.go
  server/internal/az/selfplay/selfplay.go
Due: gofmt, goimports, golangci-lint

Parallelize AZ self-play and arena
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_eval/main.go
  server/cmd/az_loop/main.go
  server/cmd/az_selfplay/main.go
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/az/arena/arena.go
  server/internal/az/arena/arena_test.go
  server/internal/az/selfplay/selfplay.go
  server/internal/az/selfplay/selfplay_test.go
Due: gofmt, goimports, golangci-lint

Add AZ performance tuning knobs
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_eval/main.go
  server/cmd/az_infer_torch/az_infer_torch.py
  server/cmd/az_loop/main.go
  server/cmd/az_selfplay/main.go
  server/internal/az/actions/actions.go
  server/internal/az/env/env.go
  server/internal/az/mcts/mcts.go
  server/internal/az/mcts/mcts_test.go
  server/internal/az/model/BUILD.bazel
  server/internal/az/model/async_batch.go
  server/internal/az/model/async_batch_test.go
  server/internal/az/selfplay/selfplay.go
  server/internal/az/selfplay/selfplay_test.go
Due: gofmt, goimports, golangci-lint

Speed up AZ neural evaluation batches
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/cmd/az_infer_torch/az_infer_torch.py
  server/internal/az/mcts/mcts.go
  server/internal/az/mcts/mcts_test.go
  server/internal/az/model/http.go
  server/internal/az/model/http_test.go
Due: gofmt, goimports, golangci-lint

Record AZ promotion gate result
  NOTES.md
  docs/terra-mystica-stronger-engine-scaling.md
  server/internal/az/mcts/mcts.go
Due: gofmt, goimports, golangci-lint

Scale AZ self-play to ordered matchup matrix
  NOTES.md
  server/cmd/az_eval/main.go
  server/cmd/az_loop/main.go
  server/cmd/az_selfplay/main.go
  server/internal/az/arena/arena.go
  server/internal/az/arena/arena_test.go
  server/internal/az/env/env.go
  server/internal/az/env/env_test.go
  server/internal/az/selfplay/selfplay.go
  server/internal/az/selfplay/selfplay_test.go
Due: gofmt, goimports, golangci-lint

Fix Mermaids river town AZ loops
  NOTES.md
  server/internal/az/actions/BUILD.bazel
  server/internal/az/actions/actions.go
  server/internal/az/actions/actions_test.go
  server/internal/game/special_actions.go
  server/internal/game/special_actions_test.go
Due: gofmt, goimports, golangci-lint

Support AZ checkpoint transfer training
  NOTES.md
  server/cmd/az_train_torch/az_train_torch.py
Due: none

Add live model opponent games
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/Lobby.tsx
  docs/model-opponent-railway-notes.md
  server/cmd/server/main.go
  server/internal/websocket/BUILD.bazel
  server/internal/websocket/bot.go
  server/internal/websocket/bot_test.go
  server/internal/websocket/client.go
  server/internal/websocket/handler.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Start playable model opponent games
  NOTES.md
  client/e2e/ui-model-game.spec.ts
  client/src/components/Lobby.tsx
  server/internal/websocket/bot_test.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint
