Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags in Bazel files
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # TypeScript/JavaScript
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd client && npm run lint:fix'
        language: system
        files: \.(ts|tsx|js|jsx)$
        exclude: 'node_modules|dist'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Type Check
        entry: bash -c 'cd client && npm run type-check'
        language: system
        files: \.(ts|tsx)$
        exclude: 'node_modules|dist'
        pass_filenames: false

  # Go
  - repo: local
    hooks:
      - id: gofmt
        name: Go Format
        entry: gofmt
        args: ['-w']
        language: system
        files: \.go$
        exclude: 'bazel-'

      - id: goimports
        name: Go Imports
        entry: bash -c 'goimports -w "$@" || true'  # Don't fail if goimports not installed
        language: system
        files: \.go$
        exclude: 'bazel-'

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'  # Don't fail if not installed
        language: system
        files: \.go$
        exclude: 'bazel-'
        pass_filenames: false

Fix UI regressions: Passing Tiles visibility and Water 2 Favor Tile state
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/types/game.types.ts
  client/src/utils/colors.ts
  server/internal/game/board/map.go
  server/internal/game/board/map_bridge_test.go
  server/internal/game/faction_integration_test.go
  server/internal/game/manager.go
  server/internal/game/power_actions.go
  server/internal/game/town_test.go
  server/internal/notation/bga_parser.go
  server/internal/notation/parser.go
  server/internal/notation/types.go
  server/internal/replay/action_converter.go
  server/internal/replay/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix priest placement visuals and remove debug logging
  lint_report_2.txt
  server/internal/game/manager.go
  server/internal/notation/parser.go
Due: gofmt, goimports, golangci-lint

Fix player board faction display and standard trading house income
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/data/factionBoards.ts
Due: eslint, typescript-check

remove lint reports
  lint_errors.txt
  lint_report.txt
  lint_report_3.txt
  lint_report_4.txt
  lint_report_5.txt
Due: none

Fix TypeScript lint errors, remove powerTokens, and fix useGameLayout runtime error
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/GameBoard/ScoringTiles.tsx
  client/src/components/GameBoard/TownTiles.tsx
  client/src/components/Lobby.tsx
  client/src/components/MissingInfoModal.tsx
  client/src/components/Replay.tsx
  client/src/components/ReplayLog.tsx
  client/src/data/factionBoards.ts
  client/src/hooks/useGameLayout.ts
  client/src/types/game.types.ts
  client/src/utils/gameUtils.ts
  server/internal/game/manager.go
  server/internal/notation/bga_parser.go
  server/internal/replay/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix runtime error in PlayerBoards.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  server/internal/game/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Update PlayerState interface with new fields
  client/src/types/game.types.ts
Due: eslint, typescript-check

Fix power leech capacity calculation
  server/internal/game/resources.go
  server/internal/game/resources_test.go
Due: gofmt, goimports, golangci-lint

Remove debug print statement from parser
  server/internal/notation/parser.go
Due: gofmt, goimports, golangci-lint

Add bounds check in GetTileForRound to prevent panic
  server/internal/game/scoring_tiles.go
Due: gofmt, goimports, golangci-lint

Remove unused Chaos Magician trading house code
  client/src/data/factionBoards.ts
Due: eslint, typescript-check

Add finalScoring to SerializeState for end game display
  server/internal/game/manager.go
Due: gofmt, goimports, golangci-lint

Fix faction label resolution in EndGameScoring component
  client/src/components/EndGameScoring.tsx
Due: eslint, typescript-check

Fix resource conversion to match TM rules: workers/priests -> coins -> VP
  server/internal/game/final_scoring.go
  server/internal/game/final_scoring_test.go
Due: gofmt, goimports, golangci-lint

Show stronghold action octagon for all factions with stronghold actions
  client/src/components/GameBoard/PlayerBoards.tsx
Due: eslint, typescript-check

Fix StrongholdOctagon: use inline styles instead of Tailwind classes
  client/src/components/GameBoard/PlayerBoards.tsx
Due: eslint, typescript-check

Fix UI issues: octagon sizing, town tile rendering, sanctuary border
  .agent/workflows/project-rules.md
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/Replay.tsx
  client/src/components/shared/Icons.tsx
Due: eslint, typescript-check

Fix cult town icons and resolve remaining lint errors
  client/src/components/EndGameScoring.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
Due: eslint, typescript-check

Fix tunnelling logic, double charges, and replay enhancements
  client/src/App.tsx
  client/src/components/ImportGame.css
  client/src/components/ImportGame.tsx
  client/src/components/MissingInfoModal.tsx
  client/src/components/Replay.tsx
  scripts/fetch_bga_log.py
  server/internal/api/replay.go
  server/internal/game/actions.go
  server/internal/game/errors.go
  server/internal/game/faction_integration_test.go
  server/internal/game/special_actions.go
  server/internal/game/turn_order_test.go
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/regex_definitions.go
  server/internal/notation/round_trip_test.go
  server/internal/notation/types.go
  server/internal/replay/manager.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

remove unnecessary data
  scripts/game_764127301.txt
Due: none

outdated
  IMPLEMENTATION_PLAN.md
Due: none

feat: add BGA parsing for Nomads Sandstorm, bonus card cult, and Mermaids river town
  CONCISE_NOTATION_FORMAT.md
  client/src/components/EndGameScoring.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  scripts/game_754317350.txt
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/notation/bga_parser.go
  server/internal/notation/coordinates.go
  server/internal/notation/regex_definitions.go
  server/internal/notation/types.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Fakirs carpet flight bugs, Town Tile 4 bonus, and simplify BGA conversion notation
  server/internal/game/action_halflings_spades.go
  server/internal/game/actions.go
  server/internal/game/faction_integration_test.go
  server/internal/game/state.go
  server/internal/game/town.go
  server/internal/game/town_test.go
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_conversion_test.go
  server/internal/notation/bga_parser_special_action_test.go
  server/internal/notation/generator.go
  server/internal/notation/parser.go
  server/internal/notation/types.go
  server/internal/replay/compound_action.go
Due: gofmt, goimports, golangci-lint

feat: Improve BGA parser and scoring tile UI
  CONCISE_NOTATION_FORMAT.md
  client/src/components/MissingInfoModal.tsx
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_acts_test.go
  server/internal/notation/bga_parser_cultist_test.go
  server/internal/notation/generator.go
  server/internal/notation/types.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Fakirs area scoring and parser regression tests
  scripts/game_767347264.txt
  scripts/game_776359736.txt
  scripts/game_783045039.txt
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/factions/fakirs.go
  server/internal/game/factions/fakirs_test.go
  server/internal/game/town.go
  server/internal/game/town_test.go
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_special_action_test.go
Due: gofmt, goimports, golangci-lint

Fix duplicate leech logging in BGA parser
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/duplicate_leech_test.go
Due: gofmt, goimports, golangci-lint

Add Railway deployment config
  client/nixpacks.toml
  server/nixpacks.toml
  server/railway.json
Due: none

Fix frontend base path for kezilu.com/tm deployment
  client/src/App.tsx
  client/vite.config.ts
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Add custom Caddyfile for /tm base path handling
  client/Caddyfile
  client/nixpacks.toml
Due: none

Fix API routing - preserve /api prefix when forwarding to backend
  cloudflare-worker/tm-router/src/index.ts
Due: eslint, typescript-check

Configure server for production scripts execution
  .gitignore
  server/cmd/server/main.go
  server/nixpacks.toml
Due: gofmt, goimports, golangci-lint

Implement Bookmarklet Import feature
  client/src/components/ImportGame.css
  client/src/components/ImportGame.tsx
  server/go.mod
  server/go.sum
  server/internal/api/replay.go
  server/internal/notation/html_parser.go
  server/internal/replay/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Prevent clicking bookmarklet button directly
  client/src/components/ImportGame.tsx
Due: eslint, typescript-check

Switch to form-based bookmarklet import
  client/src/components/ImportGame.tsx
  server/internal/api/replay.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Replace draggable bookmarklet with copy-paste textarea to bypass React security
  client/src/components/ImportGame.css
  client/src/components/ImportGame.tsx
Due: eslint, typescript-check

Add start script for Railway Railpack deployment
  client/package.json
Due: none

Add -s flag to serve for SPA routing fallback
  client/package.json
Due: none

Add serve.json config for /tm path rewriting
  client/package.json
  client/serve.json
Due: none

remove some useless methods
  server/internal/game/actions.go
  server/internal/game/factions/dwarves.go
  server/internal/game/factions/dwarves_test.go
  server/internal/game/factions/fakirs.go
  server/internal/game/factions/fakirs_test.go
  server/internal/replay/compound_action.go
Due: gofmt, goimports, golangci-lint
