Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

eslint:
  name: ESLint
  entry: bash -c 'cd client && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd client && npm run type-check'
  language: system
  pass_filenames: false

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: system

goimports:
  name: Go Imports
  entry: bash -c 'goimports -w "$@" || true'
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'
  language: system
  pass_filenames: false

fix: address additional linting and type issues
  client/src/components/shared/Icons.tsx
  client/src/data/baseGameMap.ts
  client/src/main.tsx
  client/src/services/WebSocketContext.tsx
  client/src/services/actionService.ts
Due: eslint, typescript-check

fix: resolve all remaining TypeScript errors
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/MapTest.tsx
Due: eslint, typescript-check

refactor: improve code quality by fixing TypeScript errors and reducing ESLint issues
  client/src/App.tsx
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/FactionSelector.tsx
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/Hex.tsx
  client/src/components/GameBoard/HexGrid.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/GameBoard/ScoringTiles.tsx
  client/src/components/GameBoard/TownTiles.tsx
  client/src/components/Lobby.tsx
  client/src/components/MapTest.tsx
  client/src/components/shared/Icons.tsx
  client/src/main.tsx
  client/src/services/WebSocketContext.tsx
  client/src/services/actionService.ts
  client/src/stores/gameStore.ts
Due: eslint, typescript-check

fix: resolve remaining lint issues in Lobby, MapTest, and WebSocketContext
  client/src/components/Lobby.tsx
  client/src/components/MapTest.tsx
  client/src/services/WebSocketContext.tsx
  client/src/stores/gameStore.ts
Due: eslint, typescript-check

ah
  client/lint_report.txt
  client/lint_report_final.txt
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGrid.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/Lobby.tsx
  client/src/types/game.types.ts
  server/WORKSPACE
  server/deps.bzl
Due: eslint, typescript-check

don't keep the lint reports
  client/lint_report.txt
  client/lint_report_final.txt
Due: none

Implement snapshot parser and generator with documentation
  SNAPSHOT_FORMAT.md
  server/internal/game/action_upgrade_test.go
  server/internal/game/bonus_card_pass_vp_test.go
  server/internal/game/bonus_cards.go
  server/internal/game/cult.go
  server/internal/game/favor.go
  server/internal/game/favor_dwelling_vp_test.go
  server/internal/game/power_actions.go
  server/internal/game/scoring_tiles.go
  server/internal/game/temple_income_test.go
  server/internal/game/town_test.go
  server/internal/models/building.go
  server/internal/models/terrain.go
  server/internal/models/town.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/compound_action.go
  server/internal/replay/snapshot_generator.go
  server/internal/replay/snapshot_parser.go
  server/internal/replay/snapshot_test.go
Due: gofmt, goimports, golangci-lint

Implement concise game notation parser and generator
  CONCISE_NOTATION_FORMAT.md
  server/internal/notation/generator.go
  server/internal/notation/models.go
  server/internal/notation/notation_test.go
  server/internal/notation/parser.go
Due: gofmt, goimports, golangci-lint

Refine Favor Tiles UI and Game Board Layout
  client/src/components/Game.tsx
  client/src/components/GameBoard/FavorTiles.css
  client/src/components/GameBoard/FavorTiles.tsx
Due: eslint, typescript-check

ah
  client/src/components/Game.css
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/shared/Icons.tsx
Due: eslint, typescript-check

Redesign Water 2 Favor Tile
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/shared/Icons.tsx
Due: eslint, typescript-check

Refine Passing Tiles design and Game layout
  client/src/components/Game.tsx
  client/src/components/GameBoard/PassingTiles.css
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/shared/Icons.tsx
Due: eslint, typescript-check

ah
  client/src/types/game.types.ts
  server/internal/game/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Refactor Player Board UI: Standalone window, pure CSS layout, robust JS-based dynamic scaling, and visual polish.
  client/src/components/Game.tsx
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/GameBoard/TownTiles.css
  client/src/components/GameBoard/TownTiles.tsx
  client/src/components/shared/Icons.tsx
  client/src/data/factionBoards.ts
  client/src/types/game.types.ts
Due: eslint, typescript-check

Implement Favor Tiles, Witches Ride, Digging, and Final Scoring handling
  CONCISE_NOTATION_FORMAT.md
  scripts/fetch_bga_log.py
  server/internal/game/actions.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_test.go
  server/internal/notation/generator.go
  server/internal/notation/notation_test.go
  server/internal/notation/parser.go
  server/internal/notation/round_trip_test.go
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

ah
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
Due: eslint, typescript-check

Refactor: Replace faction-specific methods with direct type checks and constants
  server/internal/game/action_power_leech.go
  server/internal/game/actions.go
  server/internal/game/faction_spade_bonuses.go
  server/internal/game/factions/alchemists.go
  server/internal/game/factions/alchemists_test.go
  server/internal/game/factions/chaos_magicians.go
  server/internal/game/factions/chaos_magicians_test.go
  server/internal/game/factions/cultists.go
  server/internal/game/factions/cultists_test.go
  server/internal/game/factions/darklings.go
  server/internal/game/factions/darklings_test.go
  server/internal/game/factions/dwarves.go
  server/internal/game/factions/dwarves_test.go
  server/internal/game/factions/engineers.go
  server/internal/game/factions/engineers_test.go
  server/internal/game/factions/fakirs.go
  server/internal/game/factions/fakirs_test.go
  server/internal/game/factions/swarmlings.go
  server/internal/game/factions/swarmlings_test.go
  server/internal/game/factions/witches.go
  server/internal/game/factions/witches_test.go
  server/internal/game/power_actions.go
  server/internal/game/special_actions.go
  server/internal/game/town.go
  server/internal/replay/compound_action.go
  server/internal/replay/validator.go
Due: gofmt, goimports, golangci-lint

Refactor: Simplify Halflings, Fakirs, and Dwarves methods
  server/internal/game/action_halflings_spades.go
  server/internal/game/actions.go
  server/internal/game/faction_integration_test.go
  server/internal/game/faction_spade_bonuses.go
  server/internal/game/factions/dwarves.go
  server/internal/game/factions/dwarves_test.go
  server/internal/game/factions/fakirs.go
  server/internal/game/factions/fakirs_test.go
  server/internal/game/factions/halflings.go
  server/internal/game/factions/halflings_test.go
  server/internal/game/power_actions.go
  server/internal/game/special_actions.go
  server/internal/replay/compound_action.go
Due: gofmt, goimports, golangci-lint

Refactor: Simplify Darklings terraform cost logic
  server/internal/game/actions.go
  server/internal/game/factions/darklings.go
  server/internal/game/factions/darklings_test.go
  server/internal/game/power_actions.go
  server/internal/replay/compound_action.go
Due: gofmt, goimports, golangci-lint

Refactor: Simplify Giants and Fakirs methods
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/faction_integration_test.go
  server/internal/game/factions/faction.go
  server/internal/game/factions/fakirs.go
  server/internal/game/factions/fakirs_test.go
  server/internal/game/factions/giants.go
  server/internal/game/factions/giants_test.go
  server/internal/game/power_actions.go
  server/internal/game/special_actions.go
  server/internal/replay/compound_action.go
Due: gofmt, goimports, golangci-lint

feat: implement concise notation for special actions, conversions, and towns
  CONCISE_NOTATION_FORMAT.md
  server/internal/models/faction.go
  server/internal/models/resource_type.go
  server/internal/notation/bga_parser.go
  server/internal/notation/generator.go
  server/internal/notation/parser.go
  server/internal/notation/regex_definitions.go
  server/internal/notation/round_trip_test.go
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

style: formatting changes
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  server/internal/game/action_scoring_test.go
  server/internal/game/action_transform_build_test.go
  server/internal/game/action_upgrade_building_test.go
  server/internal/game/bonus_card_pass_vp_test.go
  server/internal/game/faction_integration_test.go
  server/internal/game/favor_dwelling_vp_test.go
  server/internal/game/power_actions_test.go
  server/internal/game/scoring_tiles_test.go
  server/internal/lobby/lobby.go
  server/internal/models/resources.go
  server/internal/models/town.go
  server/internal/replay/action_converter.go
  server/internal/replay/compound_parser.go
  server/internal/replay/convert_upgrade_test.go
  server/internal/replay/darklings_dig_test.go
  server/internal/replay/game_setup.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

feat: update fetch script, actions, and verification tools
  scripts/fetch_bga_log.py
  server/cmd/verify_faction/main.go
  server/internal/game/actions.go
  server/internal/replay/parser.go
Due: gofmt, goimports, golangci-lint

feat: implement replay logic and fix income/state issues
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/MissingInfoModal.tsx
  client/src/components/Replay.tsx
  client/src/components/ReplayControls.tsx
  client/src/components/ReplayLog.tsx
  client/src/components/shared/Modal.css
  client/src/components/shared/Modal.tsx
  client/src/types/game.types.ts
  server/internal/api/BUILD.bazel
  server/internal/api/replay.go
  server/internal/game/bonus_cards.go
  server/internal/game/errors.go
  server/internal/game/income.go
  server/internal/game/town.go
  server/internal/notation/coordinates.go
  server/internal/notation/mapping.go
  server/internal/replay/manager.go
  server/internal/replay/manager_test.go
  server/internal/replay/parser.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

feat: complete replay integration
  bga_log.txt
  client/src/App.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/vite.config.ts
  scripts/game_764127301.txt
  server/cmd/server/BUILD.bazel
  server/cmd/server/main.go
  server/internal/game/BUILD.bazel
  server/internal/game/actions.go
  server/internal/game/board/map.go
  server/internal/game/power.go
  server/internal/game/resources.go
  server/internal/game/scoring_tiles.go
  server/internal/game/state.go
  server/internal/models/BUILD.bazel
  server/internal/notation/BUILD.bazel
  server/internal/notation/bga_parser.go
  server/internal/notation/concise_log.txt
  server/internal/notation/parser.go
  server/internal/notation/types.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/game_setup.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Implement log highlighting in replay system
  client/src/components/Replay.tsx
  client/src/components/ReplayLog.tsx
  server/internal/api/replay.go
  server/internal/notation/bga_parser.go
  server/internal/notation/generator.go
  server/internal/notation/round_trip_test.go
  server/internal/notation/types.go
  server/internal/replay/manager.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Replay Restart, Turn Order Badge, and Power Bowls
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/Replay.tsx
  client/src/components/ReplayControls.tsx
  client/src/stores/gameStore.ts
  client/src/types/game.types.ts
  server/internal/api/replay.go
  server/internal/notation/bga_parser_test.go
  server/internal/replay/manager.go
  server/internal/replay/snapshot_parser.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Refactor cult logic to shared utility and fix missing tokens
  client/src/components/Game.tsx
  client/src/components/Replay.tsx
  client/src/data/factionBoards.ts
  client/src/utils/colors.ts
  client/src/utils/gameUtils.ts
Due: eslint, typescript-check

Fix Bonus Cards and Action Parsing Logic
  server/internal/game/actions.go
  server/internal/notation/concise_log.txt
  server/internal/notation/types.go
Due: gofmt, goimports, golangci-lint

fixed
  server/internal/notation/concise_log.txt
Due: none

more udpates to notation
  CONCISE_NOTATION_FORMAT.md
Due: none

Fix replay issues: Auren cults, town formation, bridge notation
  CONCISE_NOTATION_FORMAT.md
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/MissingInfoModal.tsx
  client/src/components/Replay.tsx
  client/src/components/ReplayControls.tsx
  scripts/ensure_go_tools.sh
  server/internal/api/replay.go
  server/internal/game/action_select_favor_tile.go
  server/internal/game/actions.go
  server/internal/game/cleanup.go
  server/internal/game/income.go
  server/internal/game/scoring_tiles.go
  server/internal/game/special_actions.go
  server/internal/game/special_actions_test.go
  server/internal/game/state.go
  server/internal/game/town.go
  server/internal/notation/bga_parser.go
  server/internal/notation/concise_log.txt
  server/internal/notation/generator.go
  server/internal/notation/mapping.go
  server/internal/notation/parser.go
  server/internal/notation/round_trip_test.go
  server/internal/notation/types.go
  server/internal/replay/action_converter.go
  server/internal/replay/manager.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Final Scoring bugs (Area Scoring, Player Names, Resource VP) and fix game tests (Cult Track resets)
  client/src/components/EndGameScoring.tsx
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/GameBoard/TownTiles.tsx
  client/src/components/Replay.tsx
  client/src/data/factionBoards.ts
  client/src/data/favorTiles.tsx
  client/src/types/game.types.ts
  server/internal/game/bonus_card_special_actions_test.go
  server/internal/game/cleanup.go
  server/internal/game/cleanup_test.go
  server/internal/game/cult_test.go
  server/internal/game/favor.go
  server/internal/game/final_scoring.go
  server/internal/game/final_scoring_test.go
  server/internal/game/state.go
  server/internal/game/town_test.go
  server/internal/notation/parser.go
  server/internal/replay/manager.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

fix(game): fix player highlighting and turn skipping issues
  CONCISE_NOTATION_FORMAT.md
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/GameBoard/FavorTiles.css
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/Replay.tsx
  client/src/components/shared/Icons.tsx
  client/src/types/game.types.ts
  server/internal/api/BUILD.bazel
  server/internal/api/replay.go
  server/internal/game/action_darklings_ordination.go
  server/internal/game/action_select_favor_tile.go
  server/internal/game/actions.go
  server/internal/game/cult.go
  server/internal/game/manager.go
  server/internal/game/power_actions.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/notation/types.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

refactor(client): cleanup frontend code and fix lint errors
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/EndGameScoring.tsx
  client/src/components/Game.tsx
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/Replay.tsx
  client/src/data/constants.ts
  client/src/hooks/useGameLayout.ts
Due: eslint, typescript-check

Fix syntax error in ReplayLog.tsx
  client/src/components/ReplayLog.tsx
Due: eslint, typescript-check

Feat: Enhance Replay System with Navigation, Snapshot Export, and Fixes
  client/IMPLEMENTATION_NOTES.md
  client/MAP_TEST_GUIDE.md
  client/src/components/Replay.tsx
  client/src/components/ReplayControls.tsx
  client/src/components/ReplayLog.tsx
  client/src/hooks/useGameLayout.ts
  server/internal/api/replay.go
  server/internal/notation/bga_parser.go
  server/internal/notation/bga_parser_test.go
  server/internal/replay/manager.go
  server/internal/replay/manager_test.go
  server/internal/replay/simulator.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist
  typescript-check: any of: \.(ts|tsx)$, but not: node_modules|dist
  gofmt: any of: \.go$, but not: bazel-
  goimports: any of: \.go$, but not: bazel-
  golangci-lint: any of: \.go$, but not: bazel-
