Repository LuKev/tm_server: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, gofmt, goimports, golangci-lint

eslint:
  name: ESLint
  entry: bash -c 'cd client && npm run lint:fix'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd client && npm run type-check'
  language: system
  pass_filenames: false

gofmt:
  name: Go Format
  entry: gofmt
  args:
  - -w
  language: system

goimports:
  name: Go Imports
  entry: bash -c 'goimports -w "$@" || true'
  language: system

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run --fix --new-from-rev=HEAD~1 || true'
  language: system
  pass_filenames: false

Harden Snellman bookmarklet import for full-log scoring rows
  client/src/components/ImportGame.tsx
Due: eslint, typescript-check

Rename bookmarklet label to TM Replayer
  client/src/components/ImportGame.tsx
Due: eslint, typescript-check

Make replay decline-leech no-pending handling environment-safe
  server/internal/replay/simulator.go
Due: gofmt, goimports, golangci-lint

Finalize snellman parser and full-game replay regression coverage
  server/internal/notation/generator.go
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/full_snellman_replay_test.go
  server/internal/replay/manager.go
  server/internal/replay/testdata/s69_full_game_concise.txt
Due: gofmt, goimports, golangci-lint

Add Snellman batch replay fixtures/tests and parser/replay divergence fixes
  NOTES.md
  scripts/fetch_snellman_batch.py
  server/internal/game/board/map.go
  server/internal/game/cleanup.go
  server/internal/game/final_scoring.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/simulator.go
  server/internal/replay/snellman_batch_replay_test.go
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G1.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G2.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G3.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G4.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G5.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G6.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S67_D1L1_G7.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G1.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G2.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G3.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G4.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G5.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G6.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S68_D1L1_G7.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G1.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G2.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G3.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G4.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G5.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G6.txt
  server/internal/replay/testdata/snellman_batch/4pLeague_S69_D1L1_G7.txt
  server/internal/replay/testdata/snellman_batch/manifest.json
Due: gofmt, goimports, golangci-lint

Snellman replay certification: fix leech/town ordering + add batch tests
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/Replay.tsx
  client/src/components/shared/ShippingDiggingDisplay.tsx
  server/internal/game/action_power_leech.go
  server/internal/game/cleanup.go
  server/internal/game/resources.go
  server/internal/game/scoring_tiles.go
  server/internal/game/state.go
  server/internal/notation/parser.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/notation/types_test.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/manager.go
  server/internal/replay/simulator.go
  server/internal/replay/snellman_batch_replay_test.go
  server/internal/replay/snellman_ledger_resources_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix DIG transform replay semantics and action code
  NOTES.md
  server/internal/notation/generator.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/replay/snellman_ledger_resources_test.go
Due: gofmt, goimports, golangci-lint

UI: summary bar tile + show ship/dig costs
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/Replay.tsx
  client/src/components/shared/ShippingDiggingDisplay.tsx
  client/src/hooks/useGameLayout.ts
Due: eslint, typescript-check

UI: summary bar split boxes + horizontal layout
  client/src/components/GameBoard/PlayerSummaryBar.tsx
Due: eslint, typescript-check

UI: force summary bar horizontal + black boxes
  client/src/components/GameBoard/PlayerSummaryBar.tsx
Due: eslint, typescript-check

UI: summary bar styles independent of Tailwind
  client/src/components/GameBoard/PlayerSummaryBar.tsx
Due: eslint, typescript-check

Replay: fix Snellman leech semantics and stabilize S67/S69
  NOTES.md
  server/cmd/convert_to_concise/main.go
  server/internal/game/action_power_leech.go
  server/internal/game/cleanup_test.go
  server/internal/game/faction_integration_test.go
  server/internal/game/resources.go
  server/internal/game/resources_test.go
  server/internal/game/state.go
  server/internal/notation/generator.go
  server/internal/notation/parser.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/types.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/full_snellman_replay_test.go
  server/internal/replay/simulator.go
  server/internal/replay/snellman_ledger_resources_test.go
  server/internal/replay/testdata/s69_full_game_concise.txt
Due: gofmt, goimports, golangci-lint

UI: reduce summary bar grid height
  client/src/hooks/useGameLayout.ts
Due: eslint, typescript-check

Fix summary bar sizing and power icon
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/Replay.tsx
  client/src/components/shared/Icons.tsx
  client/src/hooks/useGameLayout.ts
Due: eslint, typescript-check

Fix replay log leech anchoring for concise output
  NOTES.md
  client/src/components/ReplayLog.tsx
  server/internal/notation/BUILD.bazel
  server/internal/notation/generator.go
  server/internal/notation/generator_leech_placement_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Skip dropped-player Snellman fixtures in replay tests
  NOTES.md
  server/internal/replay/snellman_batch_s64_66_replay_test.go
  server/internal/replay/snellman_ledger_resources_test.go
Due: gofmt, goimports, golangci-lint

Remove leftover bridge warning print from parser
  server/internal/notation/bga_parser.go
Due: gofmt, goimports, golangci-lint

Fix leech/cultists normalization in Snellman conversion
  NOTES.md
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
Due: gofmt, goimports, golangci-lint

Fix replay leech sequencing after source actions
  NOTES.md
  server/cmd/server/main.go
  server/internal/replay/manager.go
  server/internal/replay/manager_import_test.go
Due: gofmt, goimports, golangci-lint

Game: enforce cult position-10 key usage and pending-town key credit rules
  NOTES.md
  server/internal/game/cult.go
  server/internal/game/cult_test.go
  server/internal/game/state.go
Due: gofmt, goimports, golangci-lint

Add browser script for BGA Terra Mystica arena faction stats
  scripts/bga_tm_arena_faction_stats_browser.js
Due: eslint

Improve BGA faction stats script robustness and simplify summary output
  NOTES.md
  scripts/bga_tm_arena_faction_stats_browser.js
Due: eslint

Implement auction modes, expand Snellman golden coverage, and stabilize replay/websocket flows
  MULTIPLAYER_TM_SPEC.md
  MULTIPLAYER_TODO_LATER.md
  NOTES.md
  client/src/components/Game.tsx
  client/src/components/ImportGame.tsx.bak
  client/src/components/Lobby.tsx
  client/src/types/game.types.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_auction.go
  server/internal/game/action_cult_spade.go
  server/internal/game/action_cultists_cult_selection.go
  server/internal/game/action_select_faction.go
  server/internal/game/action_select_faction_test.go
  server/internal/game/action_select_favor_tile_test.go
  server/internal/game/action_select_town_cult_top.go
  server/internal/game/action_select_town_tile.go
  server/internal/game/actions.go
  server/internal/game/auction.go
  server/internal/game/auction_flow_test.go
  server/internal/game/bonus_card_scoring_test.go
  server/internal/game/manager.go
  server/internal/game/special_actions.go
  server/internal/game/state.go
  server/internal/game/town.go
  server/internal/game/turn_order_test.go
  server/internal/lobby/lobby.go
  server/internal/replay/manager.go
  server/internal/websocket/BUILD.bazel
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
  server/internal/websocket/golden_snellman_e2e_test.go
  server/internal/websocket/testdata/4pLeague_S1_D1L1_G3.txt
  server/internal/websocket/testdata/4pLeague_S60_D1L1_G4.txt
  server/internal/websocket/testdata/4pLeague_S61_D1L1_G3.txt
  server/internal/websocket/testdata/4pLeague_S69_D1L1_G2.txt
  server/internal/websocket/testdata/4pLeague_S69_D1L1_G4.txt
  server/internal/websocket/testdata/4pLeague_S69_D1L1_G7.txt
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

feat(server): expand game action and power conversion logic
  server/internal/game/BUILD.bazel
  server/internal/game/action_conversion.go
  server/internal/game/action_conversion_test.go
  server/internal/game/action_discard_pending_spade.go
  server/internal/game/action_discard_pending_spade_test.go
  server/internal/game/action_engineers_bridge.go
  server/internal/game/action_engineers_bridge_test.go
  server/internal/game/action_player_options.go
  server/internal/game/action_setup_bonus_card.go
  server/internal/game/actions.go
  server/internal/game/auto_convert.go
  server/internal/game/auto_leech.go
  server/internal/game/auto_qol_options_test.go
  server/internal/game/income_preview.go
  server/internal/game/manager.go
  server/internal/game/power.go
  server/internal/game/power_actions.go
  server/internal/game/power_test.go
  server/internal/game/state.go
Due: gofmt, goimports, golangci-lint

feat(server): sync notation, replay, and websocket handling for e2E
  server/internal/notation/parser.go
  server/internal/notation/parser_test.go
  server/internal/notation/snellman_to_concise.go
  server/internal/notation/snellman_to_concise_test.go
  server/internal/notation/types.go
  server/internal/replay/BUILD.bazel
  server/internal/replay/debug_action_state_test.go
  server/internal/replay/simulator.go
  server/internal/replay/snellman_batch_replay_test.go
  server/internal/replay/snellman_ledger_resources_test.go
  server/internal/websocket/BUILD.bazel
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
  server/internal/websocket/golden_snellman_e2e_test.go
Due: gofmt, goimports, golangci-lint

docs: update multiplayer spec and developer notes
  MULTIPLAYER_TM_SPEC.md
  NOTES.md
Due: none

refactor(e2e): centralize WsBot test helper and remove debug-only traces
  client/e2e/fixtures/golden_scenarios.ts
  client/e2e/support/wsBot.ts
  client/e2e/ui-auction-setup-click-driven.spec.ts
  client/e2e/ui-full-game-click-driven.spec.ts
  client/e2e/ui-full-game-completion.spec.ts
  client/e2e/ui-full-game-multi-pov.spec.ts
  client/e2e/ui-illegal-action-real-server.spec.ts
Due: eslint, typescript-check

chore(client): prune dev debug UI and websocket noise
  NOTES.md
  client/README.md
  client/src/App.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/HexGrid.tsx
  client/src/components/GameBoard/ScoringTiles.tsx
  client/src/components/Lobby.tsx
  client/src/components/MapTest.tsx
  client/src/main.tsx
  client/src/services/WebSocketContext.tsx
Due: eslint, typescript-check

UI interaction updates and e2e stabilization baseline
  NOTES.md
  client/e2e/support/gameStateFactory.ts
  client/e2e/support/uiInteractions.ts
  client/e2e/ui-action-contract.spec.ts
  client/e2e/ui-full-game-click-driven.spec.ts
  client/e2e/ui-full-game-completion.spec.ts
  client/e2e/ui-full-game-multi-pov.spec.ts
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/Game.tsx
  client/src/components/GameBoard/FavorTiles.css
  client/src/components/GameBoard/FavorTiles.tsx
  client/src/components/GameBoard/PassingTiles.css
  client/src/components/GameBoard/PassingTiles.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PlayerSummaryBar.tsx
  client/src/components/GameBoard/PowerActions.css
  client/src/components/GameBoard/TownTiles.css
  client/src/components/GameBoard/TownTiles.tsx
  server/internal/game/BUILD.bazel
  server/internal/game/manager.go
  server/internal/game/manager_serialize_options_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Stabilize golden click-driven replay for s69/s61
  NOTES.md
  client/e2e/fixtures/golden_scenarios.ts
  client/e2e/ui-full-game-click-driven.spec.ts
Due: eslint, typescript-check

Fix golden click-driven replay handling and rebaseline scores
  NOTES.md
  client/e2e/fixtures/golden_scenarios.ts
  client/e2e/ui-full-game-click-driven.spec.ts
Due: eslint, typescript-check

Inline live-game confirmations and turn undo
  NOTES.md
  client/e2e/support/uiInteractions.ts
  client/e2e/ui-action-contract.spec.ts
  client/e2e/ui-auction-setup-click-driven.spec.ts
  client/e2e/ui-full-game-click-driven.spec.ts
  client/e2e/ui-illegal-action-real-server.spec.ts
  client/src/components/CultTracks/CultTracks.tsx
  client/src/components/Game.tsx
  client/src/components/GameBoard/PlayerBoards.css
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/TownTiles.css
  server/internal/game/BUILD.bazel
  server/internal/game/action_cultists_cult_selection.go
  server/internal/game/action_power_leech.go
  server/internal/game/actions.go
  server/internal/game/manager.go
  server/internal/game/manager_post_action_free_window_test.go
  server/internal/game/state.go
  server/internal/game/state_clone.go
  server/internal/game/turn_confirmation.go
  server/internal/game/turn_confirmation_test.go
  server/internal/websocket/client.go
  server/internal/websocket/e2e_integration_test.go
  server/internal/websocket/golden_snellman_e2e_test.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Fix Railway client build check
  NOTES.md
  client/src/components/CultTracks/CultTracks.tsx
  server/BUILD.bazel
  server/tools/client_build_test.sh
Due: eslint, typescript-check

Add Bazel Playwright wrapper and real-server test plumbing
  NOTES.md
  client/e2e/support/realServerConfig.ts
  client/e2e/support/realServerPage.ts
  client/e2e/ui-full-game-completion.spec.ts
  client/e2e/ui-full-game-multi-pov.spec.ts
  client/playwright.config.ts
  client/src/services/WebSocketContext.tsx
  client/vite.config.ts
  server/cmd/server/main.go
  server/tools/client_playwright_test.sh
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Polish live game confirmations and action QoL
  NOTES.md
  client/e2e/ui-action-contract.spec.ts
  client/src/components/Game.tsx
  client/src/components/GameBoard/GameBoard.tsx
  client/src/components/GameBoard/Hex.tsx
  client/src/components/GameBoard/HexGridCanvas.tsx
  client/src/components/GameBoard/PlayerBoards.tsx
  client/src/components/GameBoard/PowerActions.tsx
  client/src/components/GameBoard/TownTiles.tsx
  client/src/utils/hexUtils.ts
  server/internal/game/BUILD.bazel
  server/internal/game/action_cult_spade.go
  server/internal/game/cleanup_test.go
  server/internal/game/manager_post_action_free_window_test.go
  server/internal/game/power_actions.go
  server/internal/game/power_actions_test.go
  server/internal/game/turn_confirmation_test.go
  server/internal/websocket/client.go
Due: eslint, typescript-check, gofmt, goimports, golangci-lint

Path conditions:
  eslint: any of: \.(ts|tsx|js|jsx)$, but not: node_modules|dist
  typescript-check: any of: \.(ts|tsx)$, but not: node_modules|dist
  gofmt: any of: \.go$, but not: bazel-
  goimports: any of: \.go$, but not: bazel-
  golangci-lint: any of: \.go$, but not: bazel-
